
<style>
    .Heading {
        color: #00A85A;
        font-weight: 700;
        font-size: 26px;
    }

    .HeadingTwo {
        color: #00A85A;
        font-weight: 700;
        font-size: 26px;
    }

    .TopHeadLine {
        border-bottom: 3px Solid #cdf8b4;
        margin-top: 7px !important;
        margin-bottom: 7px !important;
    }

    .hrFirstTop {
        border-bottom: 3px dashed #025D59;
        margin-bottom: 25px;
    }

    .TableTopHead {
        font-size: 19px;
        font-weight: 500;
    }
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.min.js"></script>
<script src="~/jslib/academic/reporting/DailySummary.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="DailySummaryController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="p-2  demo" id="printcard">
                    <div class="p-2 hrFirstTop mb-0">
                        <div>
                            <div class="row">
                                <div class="col-md-2">
                                    <img ng-src="{{ Logo.LogoPath}}" class="img-fluid" style="height:120px; width:auto;" />
                                </div>
                                <div class="col-md-7 text-center">
                                    <h3 class="Heading mb-1 ng-binding ">{{CompanyConfig.Name}}</h3>
                                    <h6 class="mb-0  ng-binding" style="font-weight: 600; font-size: 15px; padding-left: 0rem;">{{CompanyConfig.Address}}</h6>
                                </div>
                                <div class="col-md-3" style="text-align: right;">
                                    <p class="mb-2" style="font-weight: 600; font-size: 15px;">Email: <span>{{CompanyConfig.EmailId}}</span></p>
                                    <p class="mb-0" id="Details" style="font-weight: 600; font-size: 15px;">{{CompanyConfig.PhoneNo}}</p>
                                </div>
                            </div>
                            <div class="row mb-1 " id="DailyReport">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <h3 class="HeadingTwo mb-0 text-center">Daily Report Summary</h3>
                                </div>
                                <div class="col-md-4">
                                    <p class="mb-0" style="text-align: right; font-size: 15px; font-weight: 600;" id="ReportDate">Date:2080/12/28</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Overall Student Strength start -->
                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Overall Student Strength</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive mb-0" id="AddressTblHeight">
                                <table id="maintable" class="table table-sm table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;"> Running Student(s)</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Left Student(s) </th>
                                            <th style="width: 162px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Transport Student(s)</th>
                                            <th style="width: 110px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Hostel Student(s)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <div>

                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;"><span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>Boys</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px; min-width: 90px;"><b>{{beData.RunningBoys}}</b></p>
                                                    </div>
                                                    <div>

                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px;"> <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>Girls</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px;"><b>{{beData.RunningGirls}}</b></p>
                                                    </div>
                                                </div>
                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;"> <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>Boys</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px; min-width: 90px;"><b>{{beData.LeftBoys}}</b></p>
                                                    </div>
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px;"> <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>Girls</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px;"><b>{{beData.LeftGirls}}</b></p>
                                                    </div>


                                                </div>
                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <div>

                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">    <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span> Boys</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px; min-width: 90px;"><b>{{beData.TransportBoys}}</b></p>
                                                    </div>
                                                    <div>

                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px;"> <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span> Girls</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px;"><b>{{beData.TransportGirls}}</b></p>
                                                    </div>
                                                </div>
                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <div>

                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">  <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span> Boys</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px; min-width: 90px;"><b>{{beData.HostelBoys}}</b></p>
                                                    </div>
                                                    <div>

                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px;"> <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span> Girls</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px;"><b>{{beData.HostelGirls}}</b></p>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Overall Student Strength End -->
                    <!-- Student Attendance Overview  start-->
                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Students Attendance Overview</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive mb-0" id="AddressTblHeight">
                                <table id="maintable" class="table table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Total Student ({{beData.TotalStudent}})</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Today's Present ({{beData.TotalPresentStudent}}) </th>
                                            <th style="width: 162px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Today's Absent ({{beData.TotalAbsentStudent}})</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;"> <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span> Boys</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px; min-width: 90px;"><b>{{beData.TotalBoys}}</b></p>
                                                    </div>
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px;"> <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span> Girls</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px;"><b>{{beData.TotalGirls}}</b></p>
                                                    </div>
                                                </div>
                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">   <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span> Boys</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px; min-width: 90px;"><b>{{beData.TodayPresentBoys}}</b></p>
                                                    </div>
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px;"> <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span> Girls</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px;"><b>{{beData.TodayPresentGirls}}</b></p>
                                                    </div>
                                                </div>
                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;"> <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span> Boys</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px; min-width: 90px;"><b>{{beData.TodayAbsentBoys}}</b></p>
                                                    </div>
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px;"> <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span> Girls</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px;"><b>{{beData.TodayAbsentGirls}}</b></p>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>

                    <!-- Student Attendance Overview End -->
                    <!-- Overall Staff Strength start -->
                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Overall Staff Strength</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive mb-0" id="AddressTblHeight">
                                <table id="maintable" class="table table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Teaching Staff(s)</th>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Non-Teaching Staff(s)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <div>
                                                        <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 110px;">Men <span class="ml-3"><b>{{beData.TeachingStaffMen}}</b></span></p>
                                                    </div>
                                                    <div>
                                                        <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px;">Women <span class="ml-3"><b>{{beData.TeachingStaffWomen}}</b></span></p>
                                                    </div>
                                                </div>
                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <div>
                                                        <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 110px;">Men <span class="ml-3"><b>{{beData.NonTeachingStaffMen}}</b></span></p>
                                                    </div>
                                                    <div>
                                                        <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px;">Women <span class="ml-3"><b>{{beData.NonTeachingStaffWomen}}</b></span></p>

                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Overall Staff Strength End -->
                    <!-- Staff Attendance Overview  Start -->
                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Staff Attendance Overview</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive mb-0" id="AddressTblHeight">
                                <table id="maintable" class="table table-borderless">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Total Staff <b>{{beData.TotalStaff}}</b></th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Today's Present <b>{{beData.TotalPresentStaff}}</b> </th>
                                            <th style="width: 162px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Today's Absent <b>{{beData.TotalAbsentStaff}}</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;"> <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span> Men</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px; min-width: 90px;"><b>{{beData.TotalStaffMen}}</b></p>
                                                    </div>
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px;">  <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span> Women</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px;"><b>{{beData.TotalStaffWomen}}</b></p>
                                                    </div>
                                                </div>
                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">   <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span> Men</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px; min-width: 90px;"><b>{{beData.TodayPresentMen}}</b></p>
                                                    </div>
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px;"><span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span> Women</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px;"><b>{{beData.TodayPresentWomen}}</b></p>
                                                    </div>
                                                </div>
                                            </th>

                                            <th style="font-size: 12px; width: 200px; z-index: 3; background-color: #F8FCF7 !important">
                                                <div class="d-flex">
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px; min-width: 45px;">  <span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/boy.png" style="height: auto; width: 22px;" alt=""></span> Men</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px; min-width: 90px;"><b>{{beData.TodayAbsentMen}}</b></p>
                                                    </div>
                                                    <div>
                                                        <p class="mb-0" style="font-weight: 400; font-size: 13px;"><span class="AttendanceReportImg mb-0" style="min-width: 41px;"> <img src="~/wwwroot/dynamic/images/dashboardmodules/girl.png" style="height: auto; width: 22px;" alt=""></span> Women</p>
                                                        <p class="mb-0 text-center" style="font-weight: 400; font-size: 13px;"><b>{{beData.TodayAbsentWomen}}</b></p>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Staff  Attendance Overview End -->
                    <!-- Today's Accounts Status start -->
                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead ">Today's Accounts Status</p>
                            <!-- <hr class="mb-2"> -->
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive mb-0" id="AddressTblHeight">
                                <table id="maintable" class="table table-sm table-bordered">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style=" z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;" class=" text-center">Fees Collected</th>
                                            <th style=" z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important " class=" text-center">Expense Sent </th>
                                            <th style=" z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important " class=" text-center">Discount Given</th>
                                            <th style=" z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important " class=" text-center">Total Dues</th>
                                            <th style=" z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important " class=" text-center">Running Dues</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="A in beData.AccountStatusColl">
                                            <td class="align-middle text-right" style="font-size: 13px !important; font-weight: 500;  z-index: 3; color: #35D035;"><span style="text-align: end;">{{A.FeeCollected | number:2}}</span></td>
                                            <td class="align-middle text-right" style="font-size: 13px !important; font-weight: 500;  z-index: 3; color: #E90303;">{{A.ExpenseSent | number:2}}</td>
                                            <td class="align-middle text-right" style="font-size: 13px !important; font-weight: 500;  z-index: 3; color: #3836C2;">{{A.DiscountGiven | number:2}}</td>
                                            <td class="align-middle text-right" style="font-size: 13px !important; font-weight: 500;  z-index: 3; color: #666666;">{{A.TotalDues | number:2}}</td>
                                            <td class="align-middle text-right" style="font-size: 13px !important; font-weight: 500;  z-index: 3; color: #666666;">{{A.RunningDues | number:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                    <!-- Today's Accounts Status End -->
                    <!-- Class Wise Fee Summary start -->
                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Class Wise Fee Summary</p>
                            <p for="" class="TopHeadLine"></p>

                            <div class="table table-responsive mb-0" id="AddressTblHeight">
                                <table id="maintable" class="table table-bordered">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Class Name</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important " class=" text-center">No. of Student(s)</th>
                                            <th style="width: 162px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important " class=" text-center">Total Fee</th>
                                            <th style="width: 110px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important " class=" text-center">Fee Collected</th>
                                            <th style="width: 110px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important " class=" text-center">Discount Given</th>
                                            <th style="width: 90px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important " class=" text-center">Balance Amount</th>
                                        </tr>


                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="F in beData.FeeSummaryColl">
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">{{F.ClassName}}</th>
                                            <th class="align-middle  text-center" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3; color: #35D035;">{{F.StudentNumber}}</th>
                                            <th class="align-middle  text-right" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3; color: #E90303;">{{F.TotalFee | number:2}}</th>
                                            <th class="align-middle  text-right" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3; color: #3836C2;">{{F.FeeCollected | number:2}}</th>
                                            <th class="align-middle  text-right" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3; color: #666666;">{{F.DiscountGiven | number:2}}</th>
                                            <th class="align-middle  text-right" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3; color: #666666;">
                                                {{F.BalanceAmount | number:2}}
                                            </th>

                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>



                    </div>
                    <!-- Class Wise Fee Summary End -->
                    <!-- Cash and Bank Summary start -->
                    <div class="row p-2">

                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Cash And Bank Summary</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive mb-0" id="AddressTblHeight">
                                <table id="maintable" class="table table-borderless1 table-bordered">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Particular(s)</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important " class=" text-center">Opening </th>
                                            <th style="width: 162px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important " class=" text-center">Transaction</th>
                                            <th style="width: 110px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important " class=" text-center">Closing</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="C in beData.CashAndBankColl">
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">{{C.Particular}}</th>
                                            <th class="align-middle text-right" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">{{C.Opening | number:2}}</th>
                                            <th class="align-middle text-right" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">{{C.Transaction | number:2}}</th>
                                            <th class="align-middle text-right" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">{{C.Closing | number:2}}</th>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>

                        </div>

                    </div>
                    <!-- Cash and Bank Summary End -->
                    <!-- Income Expenditure start -->
                    <div class="row p-2">
                        <div class="col-md-12">
                            <p class="mb-0 TableTopHead">Income Expenditure</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive mb-0" id="AddressTblHeight">
                                <table id="maintable" class="table table-sm table-bordered">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Expenses</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Amount</th>
                                            <th style="width: 162px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Income</th>
                                            <th style="width: 110px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="I in IncomeExpenditure">
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400;">
                                                {{I.ExpensesHeading}}
                                            </th>
                                            <th class="align-middle text-right" style="font-size: 13px !important; font-weight: 400;">
                                                {{I.ExpensesAmt | number:2}}
                                            </th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400;">
                                                {{I.IncomeHeading}}
                                            </th>
                                            <th class="align-middle text-right" style="font-size: 13px !important; font-weight: 400;">
                                                {{I.IncomeAmt | number:2}}
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Income Expenditure End -->
                    <div class="row p-2 ">
                        <!-- SMS Balance start -->
                        <div class="col-md-6">
                            <p class="mb-0 TableTopHead">SMS Balance</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive" id="AddressTblHeight">
                                <table id="maintable" class="table table-bordered">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Available Balance</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Last Transaction</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">Active : {{beData.AvailableDate}}</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">Date: {{beData.LastTransactionDate}}</th>
                                        </tr>

                                        <tr>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">Remaining SMS: {{beData.RamainingSMS}}</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">No.of SMS Sent: {{beData.SMSSent}}</th>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>
                        <!-- SMS Balance End -->
                        <!-- User Account Activity start -->
                        <div class="col-md-6">
                            <p class="mb-0 TableTopHead">User Account Activity</p>
                            <p for="" class="TopHeadLine"></p>
                            <div class="table table-responsive" id="AddressTblHeight">
                                <table id="maintable" class="table table-bordered">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th style="width: 45px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color: #E9F2EE !important;">Last Login</th>
                                            <th style="width: 160px; z-index: 3; font-size: 15px !important; color: #444444; font-weight: 500; background-color:#E9F2EE !important ">Current Login</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">IP: {{beData.LastIP}}</th>
                                            <th class="align-middle" style="font-size: 13px !important; font-weight: 400; width: 200px; z-index: 3;">IP: {{beData.CurentIP}}</th>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>
                        <!-- User Account Activity End -->

                    </div>



                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <button class="btn btn-sm btn-success" ng-click="PrintData()">Print</button>
                        </div>
                    </div>
                </div>
            </section>


        </div>
        <!--/. container-fluid -->
    </section>

</div>




