<script src="~/jslib/export/tableExport.js"></script>
<script src="~/jslib/export/jquery.base64.js"></script>
<script src="~/jslib/export/jspdf/libs/sprintf.js"></script>
<script src="~/jslib/export/jspdf/jspdf.js"></script>
<script src="~/jslib/export/jspdf/libs/base64.js"></script>
<script src="~/jslib/attendance/EmployeeWiseLeaveQuota.js?v=@AcademicLib.BE.Global.AppVer.Ver"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="LeaveQuotaByEmployeeCollController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top:38px!important">
                <div class="tab-content" id="LeaveQuote-section">
                    <div class="card py-2">
                        <!--Added by simran on 28th Mangshir-->
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Branch</label>
                                    <select class="form-control form-control-sm select2" ng-model="newFilter.BranchId">
                                        <option ng-value="0">**Select All**</option>
                                        <option ng-repeat="B in BranchList" ng-value="B.BranchId" ng-selected="B.BranchId==newFilter.BranchId">{{B.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Department</label>
                                    <select class="form-control form-control-sm select2" ng-model="newFilter.DepartmentId">
                                        <option ng-value="0">**Select All**</option>
                                        <option ng-value="c.id" ng-repeat="c in DepartmentList" ng-selected="c.id==newFilter.DepartmentId">{{c.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control form-control-sm select2" ng-model="newFilter.CategoryId">
                                        <option ng-value="0">**Select All**</option>
                                        <option ng-value="c.CategoryId" ng-repeat="c in CategoryList" ng-selected="c.CategoryId==newFilter.CategoryId">{{c.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="">Period</label>
                                    <select class="form-control form-control-sm select2" ng-model="newFilter.PeriodId">
                                        <option ng-value="0">**Select All**</option>
                                        <option ng-value="c.PeriodId" ng-repeat="c in PeriodList" ng-selected="c.PeriodId==newFilter.PeriodId">{{c.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-sm btn-success mt-4 float-right" style="min-width:80px;" ng-click="GetEmployeeForLeaveQuota()"><i class="fas fa-sync-alt mr-2"></i>Load</button>
                            </div>
                            <!--End-->

                        </div>
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.LeaveQuota">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.LeaveQuota">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar"
                                                   type="search" placeholder="Search" ng-model="searchData.LeaveQuota"
                                                   aria-label="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-md-5 text-right">
                                <div class="dropdown dnld-file ml-2" data-toggle="tooltip"
                                     data-placement="top" title="Download File">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        <a class="dropdown-item wait" export-excel table-id="'#leaveQuota'" sheet-name="'LeaveQuotaList'"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                        <a class="dropdown-item wait" onClick="$('#leaveQuota').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                    </div>
                                </div>
                                <a print-tbl table-id="'#leaveQuota'" href="#" class="btn btn-secondary btn-light btn-sm"
                                   data-toggle="tooltip" data-placement="top" title="Print">
                                    <i class="fas fa-print"></i>
                                </a>
                                <!--Added by simran on 28th Mangshir-->
                                <button class="btn load btn-add btn-success" ng-click="SaveLeaveQuotaColl()"><i class="fas fa-save mr-1"></i> Save</button>
                                <button class="btn load btn-add btn-danger" ng-click="DelLeaveQuota()"><i class="far fa-trash-alt"></i> Delete</button>
                                <!--End-->
                            </div>
                        </header>
                        <div>
                            <div class="table-scroll-x-y sales-main-table table-scroll mt-1">
                                <table id="leaveQuota" make-table-resizable
                                       class="main-table table table-sm table-bordered bg-white">
                                    <thead class="text-nowrap">
                                        <tr>
                                            <th class="text-center align-middle cstm-sticky" style="width: 70px; left: 0; z-index: 4; background-color: #e9ecef !important" ng-click="sortEmpData('EmployeeCode')">Code</th>
                                            <th class="text-center align-middle cstm-sticky" style="width: 80px; left: 70px; z-index: 4; background-color: #e9ecef !important" ng-click="sortEmpData('EnrollNo')">Enroll No</th>
                                            <th class="align-middle cstm-sticky" style="width: 250px; left: 150px; z-index: 4; background-color: #e9ecef !important" ng-click="sortEmpData('EmployeeName')">Name</th>
                                            <th class="text-center" style="width: 120px; z-index: 3; background-color: #e9ecef !important" ng-repeat="Ph in LeaveTypeList">
                                                {{Ph.Name}}
                                                <div>
                                                    <input type="number" class="form-control form-control-sm" ng-model="Ph.BulkValue"
                                                           placeholder="Enter value" ng-change="ApplyBulkValue($index)">
                                                </div>
                                            </th>
                                            <th class="text-center cstm-sticky no-print" style="width: 62px; right: 0; z-index: 3; background-color: #e9ecef !important">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="cl in EmployeeListForLeaveQuota | filter:searchData.LeaveQuota | itemsPerPage: perPage.LeaveQuota" current-page="currentPages.LeaveQuota" pagination-id="LeaveQuotaPagination">
                                            <td class="align-middle text-center cstm-sticky" style="width: 70px; left: 0; z-index: 2; background-color: #fff !important">{{cl.EmployeeCode}}</td>
                                            <td class="align-middle text-center cstm-sticky" style="width: 80px; left: 70px; z-index: 2; background-color: #fff !important">{{cl.EnrollNumber}}</td>
                                            <td class="align-middle cstm-sticky" style="width: 180px; left: 150px; z-index: 2; background-color: #fff !important">{{cl.EmployeeName}}</td>
                                            <td class="text-center" ng-repeat="Ph in cl.LeaveQuotaByEmpDetailsColl track by $index">
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" ng-disabled="Ph.IsAllow==false"  number-input noofdecimal="2" onfocus="this.select();" class="form-control form-control-sm" ng-model="Ph.NoOfLeave" ng-paste="PasteData(Ph,$index)" onpaste="return false">
                                                </div>
                                            </td>
                                            <td class="text-center cstm-sticky no-print" style="width: 62px; right: 0; z-index: 2; background-color: #e9ecef !important">
                                                <a class="p-1 btn btn-sm btn-info" data-toggle="tooltip" title="Update" href="#" ng-click="SaveEmpWiseLeaveQuota(cl,$index)">
                                                    <i class="fas fa-save "></i>
                                                </a>
                                                <a class="p-1 btn btn-danger btn-sm" data-toggle="tooltip" title="Delete" href="#" ng-click="DelLeaveQuotaById(cl)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table end -->
                        </div>
                        <footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="LeaveQuotaPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>
                        </footer>                        
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
