<style>
    .card {
        border: 1px solid #dbeafe;
    }

    .title-css {
        font-size: 14px;
        font-weight: bold;
        color: #1f2937;
        border-bottom: 1px solid #D7E7F0;
    }

    .badge-success {
        background-color: transparent !important;
        color: #16a34a !important;
        border: 1.5px solid #16a34a !important;
    }

    .badge-info {
        background-color: transparent !important;
        color: #0284c7 !important;
        border: 1.5px solid #0284c7 !important;
    }

    .badge-danger {
        background-color: transparent !important;
        color: #dc2626 !important;
        border: 1.5px solid #dc2626 !important;
    }

    .badge {
        padding: 4px 10px;
        font-weight: 600;
    }

    .table-light {
        background-color: #f5fbff !important;
    }

    .table-default {
        background-color: #ffffff !important;
    }


    .table1.table-striped tbody tr:nth-of-type(odd), .table2.table-striped tbody tr:nth-of-type(odd), .table3.table-striped tbody tr:nth-of-type(odd) {
        background-color: transparent;
    }

    .table1.table-striped tbody tr:nth-of-type(even), .table1.table-hover tbody tr:hover {
        background-color: #F2FBFF;
    }

    .table1.table-striped thead th {
        background-color: #E2F4F9 !important;
        color: #53A2A5;
    }

    .table2.table-striped tbody tr:nth-of-type(even), .table2.table-hover tbody tr:hover {
        background-color: #FFF6EF;
    }

    .table2.table-striped thead th {
        background-color: #FFEBD8 !important;
        color: #F4810F;
    }

    .table3.table-striped tbody tr:nth-of-type(even), .table3.table-hover tbody tr:hover {
        background-color: #F2FFF9;
    }

    .table3.table-striped thead th {
        background-color: #DDF6EB !important;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script src="~/jslib/Homework/HADashboard.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="HRDashbardController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <div class="root">
                        <div class="card-primary px-0 card-tabs ">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade main-section active show" id="Branch" role="tabpanel" aria-labelledby="FromDate-tab" style="background:#F9FAFB;">
                                    <div id="HRDasboard-section">
                                        <div class="container-fluid px-2">
                                            <div style=" background: #f6fff9;" class="my-3 card shadow-sm">
                                                <div class="row align-items-center p-3">
                                                    <div class="col-md-9" style="font-size: 15px; color: #005D59;">
                                                        <span><strong>Good afternoon User !</strong></span>
                                                        <div style="font-size:13px;color:#374151;">
                                                            “Education is the ability to listen to almost anything without losing your temper or your self-confidence.”
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div style="display:flex;justify-content:flex-end;">
                                                            <img src="~/wwwroot/dynamic/images/stu_dash/teacher_banner.png" style="height:80px;"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card shadow-sm mb-3" style="background: #f8fbff;">
                                                <div class="card-body">
                                                    <div class="title-css mb-3">
                                                        Homework
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="card shadow-sm mb-0">
                                                                <div class="card-body">
                                                                    <div class="title-css mb-3">
                                                                        Total Homework
                                                                    </div>
                                                                    <div class="row d-flex align-items-center">
                                                                        <div class="col-6">
                                                                            <canvas id="totalHomeworkChart" width="140" height="140"></canvas>
                                                                        </div>

                                                                        <div class="col-6">
                                                                            <div style="background: #f8fbff;" class="card shadow-sm m-0 p-2">
                                                                                <div style="font-size:10px;color:#64748b;">Total Homework Given</div>
                                                                                <span><strong>{{DashboardData.HomeworkColl.TotalHW}}</strong></span>

                                                                                <div style="display:flex; justify-content:space-between;">
                                                                                    <div style="color:#16a34a;">
                                                                                        <div style="font-size:10px;">Submitted</div>
                                                                                        <span><strong>{{DashboardData.HomeworkColl.THSubmission}}</strong></span>
                                                                                    </div>

                                                                                    <div style="color:#dc2626;">
                                                                                        <div style="font-size:10px;">Pending</div>
                                                                                        <span><strong>{{DashboardData.HomeworkColl.THPending}}</strong></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="card shadow-sm mb-0">
                                                                <div class="card-body">

                                                                    <div class="title-css mb-3">
                                                                        Total Submission
                                                                    </div>
                                                                    <div class="row d-flex align-items-center">
                                                                        <div class="col-6">
                                                                            <canvas id="totalSubmissionsHomeworkChart" width="140" height="140"></canvas>
                                                                        </div>

                                                                        <div class="col-6">
                                                                            <div style="background:#f8fbff;" class="card shadow-sm m-0 p-2">
                                                                                <div style="font-size:10px;color:#64748b;">Total Submissions</div>
                                                                                <span><strong>{{DashboardData.HomeworkColl.THSubmission}}</strong></span>
                                                                                <div style="display:flex; justify-content:space-between;">
                                                                                    <div style="color:#16a34a;">
                                                                                        <div style="font-size:10px;">On-Time</div>
                                                                                        <span><strong>{{DashboardData.HomeworkColl.TSHWOnTime}}</strong></span>
                                                                                    </div>

                                                                                    <div style="color:#dc2626;">
                                                                                        <div style="font-size:10px;">Late</div>
                                                                                        <span><strong>{{DashboardData.HomeworkColl.TSHWLate}}</strong></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="card shadow-sm mb-0">
                                                                <div class="card-body">
                                                                    <div class="title-css mb-3">
                                                                        Pending Submissions
                                                                    </div>

                                                                    <div class="row d-flex align-items-center">

                                                                        <div class="col-6">
                                                                            <canvas id="pendingSubmissionsHomeworkChart" width="140" height="140"></canvas>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div style="background:#f8fbff;" class="card shadow-sm m-0 p-2">
                                                                                <div style="font-size:10px;color:#64748b;">Pending Submissions</div>
                                                                                <span><strong>{{DashboardData.HomeworkColl.THPending}}</strong></span>
                                                                                <div style="display:flex; justify-content:space-between;">
                                                                                    <div style="color:#16a34a;">
                                                                                        <div style="font-size:10px;">Due Today</div>
                                                                                        <span><strong>{{DashboardData.HomeworkColl.PSHWDueToday}}</strong></span>
                                                                                    </div>

                                                                                    <div style="color:#dc2626;">
                                                                                        <div style="font-size:10px;">Past Due</div>
                                                                                        <span><strong>{{DashboardData.HomeworkColl.PSHWPastDue}}</strong></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card shadow-sm mb-3" style="background: #fff3e0; ">
                                                <div class="card-body">
                                                    <div class="title-css mb-3">
                                                        Assignments
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="card shadow-sm mb-0">
                                                                <div class="card-body">
                                                                    <div class="title-css mb-3">
                                                                        Total Assignments
                                                                    </div>
                                                                    <div class="row d-flex align-items-center">
                                                                        <div class="col-6">
                                                                            <canvas id="totalAssignmentsChart" width="140" height="140"></canvas>
                                                                        </div>

                                                                        <div class="col-6">
                                                                            <div style="background: #f8fbff;" class="card shadow-sm m-0 p-1">
                                                                                <div style="font-size:10px;color:#64748b;">Total Assignments Given</div>
                                                                                <span><strong>{{DashboardData.AssignmentColl.TotalAssign}}</strong></span>

                                                                                <div style="display:flex; justify-content:space-between;">
                                                                                    <div style="color: #2563eb;">
                                                                                        <div style="font-size:10px;">Submitted</div>
                                                                                        <span><strong>{{DashboardData.AssignmentColl.TASubmission}}</strong></span>
                                                                                    </div>

                                                                                    <div style="color: #f97316;">
                                                                                        <div style="font-size:10px;">Pending</div>
                                                                                        <span><strong>{{DashboardData.AssignmentColl.TAPending}}</strong></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="card shadow-sm mb-0">
                                                                <div class="card-body">
                                                                    <div class="title-css mb-3">
                                                                        Total Submissions
                                                                    </div>

                                                                    <div class="row align-items-center">

                                                                        <div class="col-6 text-center">
                                                                            <canvas id="totalSubmissionsAssignmentChart" width="140" height="140"></canvas>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div style="background: #f8fbff;" class="card shadow-sm m-0 p-1">
                                                                                <div style="font-size:10px;color:#64748b;">Total Submissions</div>
                                                                                <span><strong>{{DashboardData.AssignmentColl.TASubmission}}</strong></span>

                                                                                <div style="display:flex; justify-content:space-between;">
                                                                                    <div style="color: #2563eb;">
                                                                                        <div style="font-size:10px;">On-Time</div>
                                                                                        <span><strong>{{DashboardData.AssignmentColl.TSAssignOnTime}}</strong></span>
                                                                                    </div>

                                                                                    <div style="color: #f97316;">
                                                                                        <div style="font-size:10px;">Late</div>
                                                                                        <span><strong>{{DashboardData.AssignmentColl.TSAssignLate}}</strong></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="card shadow-sm mb-0">
                                                                <div class="card-body">
                                                                    <div class="title-css mb-3">
                                                                        Pending Submissions
                                                                    </div>

                                                                    <div class="row align-items-center">

                                                                        <div class="col-6 text-center">
                                                                            <canvas id="pendingSubmissionsAssignmentChart" width="140" height="140"></canvas>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div style="background: #f8fbff;" class="card shadow-sm m-0 p-1">
                                                                                <div style="font-size:10px;color:#64748b;">Pending Submissions</div>
                                                                                <span><strong>{{DashboardData.AssignmentColl.TAPending}}</strong></span>

                                                                                <div style="display:flex; justify-content:space-between;">
                                                                                    <div style="color: #2563eb;">
                                                                                        <div style="font-size:10px;">Due Today</div>
                                                                                        <span><strong>{{DashboardData.AssignmentColl.PSAssignDueToday}}</strong></span>
                                                                                    </div>

                                                                                    <div style="color: #f97316;">
                                                                                        <div style="font-size:10px;">Past Due</div>
                                                                                        <span><strong>{{DashboardData.AssignmentColl.PSAssignPastDue}}</strong></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <div class="card shadow-sm m-0">
                                                        <div class="card-title p-3">
                                                            <div class="title-css">
                                                                Teacher-wise Homework
                                                            </div>
                                                        </div>
                                                        <div class="card-body p-0">
                                                            <div class="table-scroll-x-y table-scroll m-0" style="max-height: calc(44px * 7); overflow-y: auto; ">
                                                                <table class="table table1 table-striped table-hover">
                                                                    <thead style="background-color: #274f5c; color: #274f5c; ">
                                                                        <tr>
                                                                            <th style="width: 60px">S.No</th>
                                                                            <th style="width: 300px">Teacher Name</th>
                                                                            <th style="width: 120px">Subject</th>
                                                                            <th style="width: 100px">Assigned Today</th>
                                                                            <th style="width: 110px">Submitted Today</th>
                                                                            <th style="width: 70px">Pending</th>
                                                                            <th style="width: 80px">Overdue</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="teacher in DashboardData.TeacherWiseHWColl">
                                                                            <td>{{$index + 1}}</td>
                                                                            <td>
                                                                                <img src="~/wwwroot/dynamic/images/avatar-img.png" alt="Avatar" style="width: 20px; height: 20px; border-radius: 50%;">
                                                                                <span>{{teacher.TeacherName}}</span>
                                                                            </td>
                                                                            <td>{{teacher.SubjectName}}</td>
                                                                            <td>{{teacher.AssignedToday}}</td>
                                                                            <td>{{teacher.SubmittedToday}}</td>
                                                                            <td>{{teacher.Pending}}</td>
                                                                            <td>{{teacher.Overdue}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-12 mb-3">
                                                    <div class="card shadow-sm m-0">
                                                        <div class="card-title p-3">
                                                            <div class="title-css">
                                                                Teacher-wise Assignments
                                                            </div>
                                                        </div>
                                                        <div class="card-body p-0">

                                                            <div class="table-scroll-x-y table-scroll m-0" style="max-height: calc(44px * 7); overflow-y: auto; ">
                                                                <table class="table table2 table-striped table-hover" style="max-height: calc(44px * 7); overflow-y: auto; ">
                                                                    <thead style="background-color: #cd8a28; color: #cd8a28;">
                                                                        <tr>
                                                                            <th style="width: 60px">S.No</th>
                                                                            <th style="width: 300px">Teacher Name</th>
                                                                            <th style="width: 120px">Subject</th>
                                                                            <th style="width: 100px">Assigned Today</th>
                                                                            <th style="width: 110px">Submitted Today</th>
                                                                            <th style="width: 70px">Pending</th>
                                                                            <th style="width: 80px">Overdue</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="teacher in DashboardData.TeacherWiseAssignColl">
                                                                            <td>{{$index + 1}}</td>
                                                                            <td>
                                                                                <img src="~/wwwroot/dynamic/images/avatar-img.png" style="width: 20px; height: 20px; border-radius: 50%;">
                                                                                <span>{{teacher.TeacherName}}</span>
                                                                            </td>
                                                                            <td>{{teacher.SubjectName}}</td>
                                                                            <td> {{teacher.AssignedToday}}</td>
                                                                            <td>{{teacher.SubmittedToday}}</td>
                                                                            <td>{{teacher.Pending}}</td>
                                                                            <td>{{teacher.overdue}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="background: #F2FFF9;" class="mb-3 card shadow-sm m-0">
                                                <div class="p-3 card-title">
                                                    <div class="title-css">
                                                        Homework
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <div class="card shadow-sm ml-3 mb-0">
                                                            <div class="p-3 card-title">
                                                                <div class="title-css">
                                                                    Overdue Homework (Past Deadline)
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <canvas id="overdueHomeworkChart" height="240"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="card shadow-sm  mr-3 mb-0">
                                                            <div class="p-3 card-title">
                                                                <div class="title-css">
                                                                    Upcoming Due Homework
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <canvas id="upcomingDueHomeworkChart" height="240"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div style=" background: #fff3e0; border: 1px solid #e5e7eb;" class="mb-3 card">
                                                <div class="p-3 card-title">
                                                    <div class="title-css">
                                                        Assignment
                                                    </div>
                                                </div>
                                                <div class="row mb-3">

                                                    <div class="col-md-6">
                                                        <div class="card shadow-sm ml-3 mb-0">
                                                            <div class="p-3 card-title">
                                                                <div class="title-css">
                                                                    Overdue Assignments (Past Deadline)
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <canvas id="overdueAssignmentChart" height="240"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="card shadow-sm mr-3 mb-0">
                                                            <div class="p-3 card-title">
                                                                <div class="title-css">
                                                                    Upcoming Due Assignments
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <canvas id="upcomingDueAssignmentChart" height="240"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="row mb-4">
                                                <div class="col-12">
                                                    <div class="card shadow-sm mb-3">
                                                        <div class="p-3 card-title">
                                                            <div class="title-css">
                                                                Student Submission Status (Homework)
                                                            </div>
                                                        </div>
                                                        <div class="card-body p-0">
                                                            <div class="table-scroll-x-y table-scroll m-0" style="max-height: calc(44px * 7); overflow-y: auto; ">
                                                                <table class="table table3 table-striped table-hover" style="max-height: calc(44px * 7); overflow-y: auto; ">
                                                                    <thead style="background-color: #274f5c; color: #274f5c;">
                                                                        <tr>
                                                                            <th style="width: 60px">S.No</th>
                                                                            <th style="width: 310px">Student Name</th>
                                                                            <th style="width: 70px">Class</th>
                                                                            <th style="width:120px">Subject</th>
                                                                            <th style="width: 80px">Status</th>
                                                                            <th style="width: 70px">Full Marks</th>
                                                                            <th style="width: 110px">Obtained Marks</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="student in DashboardData.SubmissionStatHWColl">
                                                                            <td>{{$index + 1}}</td>
                                                                            <td>
                                                                                <img src="~/wwwroot/dynamic/images/avatar-img.png" alt="Avatar" style="width: 20px; height: 20px; border-radius: 50%;">
                                                                                <span>{{student.StudentName}}</span>
                                                                            </td>
                                                                            <td>{{student.ClassName}}</td>
                                                                            <td>{{student.SubjectName}}</td>
                                                                            <td>
                                                                                <span class="badge badge-pill" ng-class="{'badge-success': student.HWStatus === 'Submitted', 'badge-info': student.HWStatus === 'Pending', 'badge-danger': student.HWStatus === 'Overdue'}">{{student.HWStatus}}</span>
                                                                            </td>
                                                                            <td ng-bind="student.FullMark"></td>
                                                                            <td ng-bind="student.ObtainedMark"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="card shadow-sm m-0">
                                                        <div class="p-3 card-title">
                                                            <div class="title-css">
                                                                Student Submission Status (Assignment)
                                                            </div>
                                                        </div>
                                                        <div class="card-body p-0">
                                                            <div class="table-scroll-x-y table-scroll m-0" style="max-height: calc(44px * 7); overflow-y: auto; ">
                                                                <table class="table table2 table-striped table-hover">
                                                                    <thead style="background-color: #cd8a28; color: #cd8a28; ">
                                                                        <tr>
                                                                            <th style="width: 60px">S.No</th>
                                                                            <th style="width: 310px">Student Name</th>
                                                                            <th style="width: 70px">Class</th>
                                                                            <th style="width:120px">Subject</th>
                                                                            <th style="width: 80px">Status</th>
                                                                            <th style="width: 70px">Full Marks</th>
                                                                            <th style="width: 110px">Obtained Marks</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="student in DashboardData.SubmissionStatAssignColl">
                                                                            <td>{{$index + 1}}</td>
                                                                            <td>
                                                                                <img src="~/wwwroot/dynamic/images/avatar-img.png" alt="Avatar" style="width: 25px; height: 25px; border-radius: 50%; margin-right: 5px;">
                                                                                <span>{{student.StudentName}}</span>
                                                                            </td>
                                                                            <td>{{student.ClassName}}</td>
                                                                            <td>{{student.SubjectName}}</td>
                                                                            <td>
                                                                                <span class="badge badge-pill" ng-class="{'badge-success': student.AssignmentStatus === 'Submitted', 'badge-info': student.AssignmentStatus === 'Pending', 'badge-danger': student.AssignmentStatus === 'Overdue'}">{{student.AssignmentStatus}}</span>
                                                                            </td>
                                                                            <td>{{student.FullMark}}</td>
                                                                            <td>{{student.ObtainedMark}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
