
<style>
    @@media print {
       
        @@page {
            size: A4 landscape;
            margin: 10mm;
        }

        .no-print {
            display: none !important;
        }

        .ledger-container {
            overflow: visible !important;
        }

        .ledger-table {
            width: 100%;
            font-size: 10px;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-footer-group;
        }

        tr {
            page-break-inside: avoid;
        }

        table {
            page-break-inside: auto;
        }

        .ledger-table {
            width: 100%;
            font-size: 9px;
        }
    }

    .custom-print-btn {
        background-color: #39bcd3;
        color: white;
        border: none;
        padding: 6px 18px;
        font-size: 14px;
        border-radius: 6px;
    }

        .custom-print-btn:hover {
            background-color: #2faac1;
            color: white;
        }
    /*header*/
    .header-container {
        margin-bottom: 0;
        padding-bottom: 0;
        position: relative;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .logo-section {
        position: absolute;
        left: 40px;
        top: 10px;
    }

    .logo-circle {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
    }

        .logo-circle img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    .school-name {
        font-family: "Harrington", "Lucida Calligraphy", cursive;
        font-size: 28px;
        font-weight: bold;
        margin: 0;
    }

    .department {
        font-size: 16px;
        margin-top: 5px;
        font-weight: 600;
    }

    .address {
        font-size: 13px;
        margin-top: 3px;
        font-display: block;
    }

    .report-title {
        font-family: 'Montserrat', 'Poppins', 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
    }

    .for-text {
        margin-top: 1px;
        font-size: 16px;
        font-weight: 500;
    }

    .class-text {
        font-family: 'Montserrat', 'Poppins', 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 16px;
    }
 /*table*/
    .ledger-container {
        width: 100%;
        overflow-x: auto;
        font-family: Arial;
    }

    .ledger-table {
        border-collapse: collapse;
        font-size: 12px;
        width: max-content;
    }

        .ledger-table th,
        .ledger-table td {
            border: 1px solid #ccc;
            padding: 4px 6px;
            text-align: center;
        }

        .ledger-table th {
            background: #e6f4ff;
            font-weight: bold;
        }

        .ledger-table td:nth-child(5) {
            text-align: left;
        }
</style>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
<div class="hold-transition layout-navbar-fixed"
     ng-app="myApp"
     ng-controller="ExamMarkLedgerReportController"
     ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid py-2 px-2"style="margin-top:35px;">
            <!-- HEADER -->
            <div class="header-container">

                <div class="logo-section">
                    <div class="logo-circle">
                        <img src="~/wwwroot/dynamic/images/avatar-img.png"
                             alt="Logo"
                             onerror="this.style.visibility='hidden'">
                    </div>
                </div>

                <div class="text-section">

                    <h1 class="school-name">SHREE BHALESHWOR SECONDARY SCHOOL</h1>

                    <div class="department">
                        DEPARTMENT OF EXAMINATION
                    </div>

                    <div class="address">
                        Panauti-8, Malpi, Kavrepalanchok, 011441426
                    </div>

                    <div class="report-title">
                        IC EXAM MARK LEDGER REPORT
                    </div>

                    <div class="for-text">for</div>

                    <div class="class-text">ALPHABET-ENGLISH</div>

                </div>

            </div>
            @*table*@
            <div class="ledger-container">

                <table class="ledger-table" id="ledgerTable">

                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>Faculty/Class</th>
                            <th>Sem/Sec.</th>
                            <th>RegNumber</th>
                            <th>Student Name</th>

                            <!-- dynamic subject columns -->
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th>8</th>
                            <th>9</th>
                            <th>10</th>
                            <th>11</th>
                            <th>12</th>
                            <th>13</th>
                            <th>14</th>
                            <th>15</th>
                            <th>16</th>
                            <th>17</th>
                            <th>18</th>
                            <th>19</th>
                            <th>20</th>
                            <th>21</th>
                            <th>22</th>
                            <th>23</th>
                            <th>24</th>

                            <th>Total Marks</th>
                            <th>Obtain Marks</th>
                            <th>%</th>
                            <th>Grade</th>
                            <th>GPA</th>
                            <th>Result</th>
                            <th>RankOnPass</th>
                            <th>PositionOnTotal</th>

                        </tr>
                    </thead>

                    <tbody id="ledgerBody"></tbody>

                </table>

            </div>

            <div class="row">
                <div class="col-12 text-center mt-1">
                    <button class="btn custom-print-btn no-print" onclick="window.print();">
                        Print Ledger
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    var students = [

        { sn: 1, faculty: "ONE", sec: "ONE-A", reg: "S00051", name: "UNISHA THING", marks: [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], total: 96, obtain: 96, percent: "100.00", grade: "A+", gpa: "4.00", result: "Pass", rank: 1, position: 1 },

        { sn: 2, faculty: "ONE", sec: "ONE-A", reg: "S00053", name: "JASTIN TAMANG", marks: [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], total: 96, obtain: 96, percent: "100.00", grade: "A+", gpa: "4.00", result: "Pass", rank: 1, position: 1 },

        { sn: 3, faculty: "ONE", sec: "ONE-A", reg: "S00055", name: "SUJATA HUMAGAIN", marks: [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], total: 96, obtain: 96, percent: "100.00", grade: "A+", gpa: "4.00", result: "Pass", rank: 1, position: 1 },

        { sn: 4, faculty: "ONE", sec: "ONE-A", reg: "S00052", name: "DITSA THAPA", marks: [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], total: 96, obtain: 96, percent: "100.00", grade: "A+", gpa: "4.00", result: "Pass", rank: 1, position: 1 },

        { sn: 5, faculty: "ONE", sec: "ONE-A", reg: "S00054", name: "SATYARAJ RUMBA", marks: [4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], total: 96, obtain: 76, percent: "79.17", grade: "B+", gpa: "3.20", result: "Pass", rank: 2, position: 2 },

        { sn: 6, faculty: "ONE", sec: "ONE-A", reg: "S00073", name: "ANUGRAH MAHAR", marks: [3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], total: 96, obtain: 73, percent: "76.04", grade: "B+", gpa: "3.20", result: "Pass", rank: 3, position: 3 },

        { sn: 7, faculty: "ONE", sec: "ONE-A", reg: "S00060", name: "RAYAN SHIVABHAKTI", marks: [3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], total: 96, obtain: 72, percent: "75.00", grade: "B+", gpa: "3.20", result: "Pass", rank: 4, position: 4 },

        { sn: 8, faculty: "ONE", sec: "ONE-A", reg: "S00056", name: "ANISH KC", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 50, percent: "52.08", grade: "C+", gpa: "2.40", result: "Pass", rank: 5, position: 5 },

        { sn: 9, faculty: "ONE", sec: "ONE-A", reg: "S00058", name: "KRITIKA BHANDARI", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 49, percent: "51.04", grade: "C+", gpa: "2.40", result: "Pass", rank: 6, position: 6 },

        { sn: 10, faculty: "ONE", sec: "ONE-A", reg: "S00068", name: "SUGAM THING", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 48, percent: "50.00", grade: "C+", gpa: "2.40", result: "Pass", rank: 7, position: 7 },

        { sn: 11, faculty: "ONE", sec: "ONE-A", reg: "S00074", name: "ROHIT BK", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 48, percent: "50.00", grade: "C+", gpa: "2.40", result: "Pass", rank: 7, position: 7 },

        { sn: 12, faculty: "ONE", sec: "ONE-A", reg: "S00072", name: "HISHMIT GOLE", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 48, percent: "50.00", grade: "C+", gpa: "2.40", result: "Pass", rank: 7, position: 7 },

        { sn: 13, faculty: "ONE", sec: "ONE-A", reg: "S00071", name: "ALVIA BISAKHE", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 48, percent: "50.00", grade: "C+", gpa: "2.40", result: "Pass", rank: 7, position: 7 },

        { sn: 14, faculty: "ONE", sec: "ONE-A", reg: "S00070", name: "NISHA CHHINAL", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 48, percent: "50.00", grade: "C+", gpa: "2.40", result: "Pass", rank: 7, position: 7 },

        { sn: 15, faculty: "ONE", sec: "ONE-A", reg: "S00069", name: "PRASAMSHA MAHAR", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 48, percent: "50.00", grade: "C+", gpa: "2.40", result: "Pass", rank: 7, position: 7 },

        { sn: 16, faculty: "ONE", sec: "ONE-A", reg: "S00063", name: "AARUSH THAPA", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 48, percent: "50.00", grade: "C+", gpa: "2.40", result: "Pass", rank: 7, position: 7 },

        { sn: 17, faculty: "ONE", sec: "ONE-A", reg: "S00067", name: "PRITIKA SENCHURY", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 48, percent: "50.00", grade: "C+", gpa: "2.40", result: "Pass", rank: 7, position: 7 },

        { sn: 18, faculty: "ONE", sec: "ONE-A", reg: "S00066", name: "PRAKASH THING", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 48, percent: "50.00", grade: "C+", gpa: "2.40", result: "Pass", rank: 7, position: 7 },

        { sn: 19, faculty: "ONE", sec: "ONE-A", reg: "S00065", name: "BIPLOP LIMBU", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 48, percent: "50.00", grade: "C+", gpa: "2.40", result: "Pass", rank: 7, position: 7 },

        { sn: 20, faculty: "ONE", sec: "ONE-A", reg: "S00064", name: "BINA THING", marks: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], total: 96, obtain: 48, percent: "50.00", grade: "C+", gpa: "2.40", result: "Pass", rank: 7, position: 7 }

    ];

    var body = document.getElementById("ledgerBody");

    students.forEach(function (s) {

        let row = `
            <tr>
            <td>${s.sn}</td>
            <td>${s.faculty}</td>
            <td>${s.sec}</td>
            <td>${s.reg}</td>
            <td>${s.name}</td>
            `;

            s.marks.forEach(function (m) {
                row += `<td>${m}</td>`;
             });

        row += `
            <td>${s.total}</td>
            <td>${s.obtain}</td>
            <td>${s.percent}</td>
            <td>${s.grade}</td>
            <td>${s.gpa}</td>
            <td>${s.result}</td>
            <td>${s.rank}</td>
            <td>${s.position}</td>
            </tr>
`;

        body.innerHTML += row;

    });

</script>


