
<style>
    @@media print {
        .no-print {
            display: none !important;
        }
    }

    .custom-print-btn {
        background-color: #39bcd3;
        color: white;
        border: none;
        padding: 6px 18px;
        font-size: 14px;
        border-radius: 6px;
    }

        .custom-print-btn:hover {
            background-color: #2faac1;
            color: white;
        }

    .form-group {
        border-radius: 18px;
    }

    .bg-light {
        background-color: #9fb3c8;
        color: #000;
    }

    .small-select {
        font-size: 12px;
        height: 30px;
    }
</style>
<script src="~/jslib/Form/ViewLedger.js"></script>
<div class="hold-transition  layout-navbar-fixed"
     ng-app="myApp"
     ng-controller="ViewLedgerController"
     ng-init="LoadData()">

    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <div class="root">
                        <div class="card-primary px-2 py-2 card-tabs ">
                            <div class="tab-content" id="myTabContent">
                                <div class="card p-0 mb-0">
                                    <div class=" card-body px-2 py-2" style="margin-top:-32px;">
                                        <div class="row align-items-end">
                                            <div class="col" style=" flex: 0 0 12%;">
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm small-select">
                                                        <option>HALF YEARLY EXAMINATION</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col" style="flex: 0 0 8%;">
                                                <div class="form-group">

                                                    <select class="form-control form-control-sm small-select">
                                                        <option>PRINT</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col" style="flex: 0 0 8%;">
                                                <div class="form-group">

                                                    <select class="form-control form-control-sm small-select">

                                                        <option>ALL CLASS</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col" style="flex: 0 0 8%;">
                                                <div class="form-group">

                                                    <select class="form-control form-control-sm small-select">
                                                        <option>ALL SECT</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col" style="flex: 0 0 12%;">
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm small-select">

                                                        <option>ORDER BY NAME</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col" style="flex: 0 0 12%;">
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm small-select">
                                                        <option>PERCENTAGE AND RATIO</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col" style="flex: 0 0 8%;">
                                                <div class="form-group">

                                                    <select class="form-control form-control-sm small-select">
                                                        <option>
                                                            ORDER BY
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col" style="flex: 0 0 8%;">
                                                <div class="form-group">

                                                    <select class="form-control form-control-sm small-select">

                                                        <option>
                                                            FORMATE1
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col" style="flex: 0 0 8%;">
                                                <div class="form-group">

                                                    <select class="form-control form-control-sm small-select">
                                                        <option>
                                                            HIDE NON
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col" style="flex: 0 0 8%;">
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm small-select">

                                                        <option>
                                                            ALL
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col" style="flex: 0 0 8%;">
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm small-select">
                                                        <option>
                                                            EXAM OF CURRENT
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-center mt-1">
                                                <button class="btn custom-print-btn no-print" onclick="window.print();">
                                                    Print Ledger
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-center mt-2">
                                                <span><strong>HALF YEARLY EXAMINATION 2081 ALL,</strong></span>
                                            </div>
                                        </div>
                                        <div class="table-responsive mt-2">
                                            <table class="table table-bordered table-sm text-center">
                                                <thead class="bg-light">
                                                    <tr>
                                                        <th rowspan="2">S.N.</th>
                                                        <th rowspan="2">Name</th>
                                                        <th rowspan="2">Section</th>
                                                        <th rowspan="2">Roll</th>
                                                        <th colspan="2">Average Marks</th>
                                                        <th colspan="2">Rank</th>
                                                        <th rowspan="2">Result</th>
                                                        <th rowspan="2">Failed Subjects</th>
                                                        <th rowspan="2">Attend.</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Total</th>
                                                        <th>Per.</th>
                                                        <th>Rank(C)</th>
                                                        <th>Rank(S)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Ram Kumar</td>
                                                        <td>A</td>
                                                        <td>12</td>
                                                        <td>450</td>
                                                        <td>90%</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>Pass</td>
                                                        <td>-</td>
                                                        <td>95%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

