<script src="~/jslib/Setup/AllowCostClass.js"></script>

<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="AllowCostClassController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here" style="padding-top: 50px !important;">
                <div class="tab-content">
                    <!-- form area starts -->
                    <div id="allow-class-form">
                        <div class="card card-default">
                            <div class="card-body p-2">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <div class="form-group d-flex">
                                            <div class="d-flex">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio"
                                                               class="form-check-input"
                                                               name="optradio" ng-value="1" ng-model="newAllowCostClass.UserWise" ng-change="GetAllowCostClassList()" />UserWise
                                                    </label>
                                                </div>
                                                <div class="form-check ml-2">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="optradio" ng-value="2" ng-model="newAllowCostClass.UserWise" ng-change="GetAllowCostClassList()" />User GroupWise
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="newAllowCostClass.UserWise==1">
                                        <div class="form-group d-flex">
                                            <label for="">User </label>
                                            <select class="form-control form-control-sm select2 ml-2" ng-model="newAllowCostClass.UserId" ng-change="GetAllowCostClassList()" style="width:75%;">
                                                <option ng-value="0">**Select User**</option>
                                                <option ng-value="cl.UserId" ng-repeat="cl in UserList">{{cl.UserName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="newAllowCostClass.UserWise==2">
                                        <div class="form-group d-flex">
                                            <label for="">User Group </label>
                                            <select class="form-control form-control-sm select2 ml-2" ng-model="newAllowCostClass.GroupId" ng-change="GetAllowCostClassList()" style="width:75%;">
                                                <option ng-value="0">**Select Group**</option>
                                                <option ng-value="cl.GroupId" ng-repeat="cl in UserGroupList">{{cl.GroupName}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-sm btn-success" ng-click="SaveUpdateAllowCostClass()" style="min-width: 60px;">
                                            <i class="fas fa-database w-t"></i> Save
                                        </button>

                                    </div>
                                    <div class="col-md-3">
                                        <form class="form-inline float-right">
                                            <div class="input-group input-group-sm table-search-filed">
                                                <input class="form-control form-control-navbar"
                                                       type="search"
                                                       placeholder="Search"
                                                       aria-label="Search" ng-model="searchData.AllowCostClass" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-default border-left-0"
                                                            type="submit">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card mb-2">
                                            <div class="table-scroll-x-y table-scroll" style="max-height:calc(100vh - 10rem);">
                                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center" style="width:60px; z-index: 3; background-color: #ececec !important">SN.</th>
                                                            <th style="width:180px; z-index: 3; background-color: #ececec !important">Name</th>
                                                            <th class="text-center" style="width: 170px; z-index: 3; background-color: #ececec !important">
                                                                <label class="checkbox-wrap">
                                                                    Allow
                                                                    <input type="checkbox" name="IsAllow" id="istrasnportation" ng-value="true" ng-model="newAllowCostClass.IsAllow" ng-change="CheckAllForTransaction()" />
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </th>
                                                            <th class="text-center" style="width: 170px; z-index: 3; background-color: #ececec !important">
                                                                <label class="checkbox-wrap">
                                                                    Allow Entry
                                                                    <input type="checkbox" name="IsAllow" id="istrasnportationForEntry" ng-value="true" ng-model="newAllowCostClass.ForEntry" ng-change="CheckAllForEntry()" />
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="el in AllowCostClassList |filter:searchData.AllowCostClass">
                                                            <td class="text-center">{{$index+1}}</td>
                                                            <td>{{el.Name}}</td>
                                                            <td class="text-center">
                                                                <label class="checkbox-wrap" style="display: flex !important; justify-content: center !important; align-items: center !important;">
                                                                    <input type="checkbox" name="istrasnportation" id="istrasnportation" ng-value="true" ng-model="el.IsAllow" />
                                                                    <span class="checkmark" style="position: relative !important"></span>
                                                                </label>
                                                            </td>
                                                            <td class="text-center">
                                                                <label class="checkbox-wrap" style="display: flex !important; justify-content: center !important; align-items: center !important;">
                                                                    <input type="checkbox" name="ForEntry" id="ForEntry" ng-value="true" ng-model="el.ForEntry" />
                                                                    <span class="checkmark" style="position: relative !important"></span>
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>