<script src="~/jslib/Hostel/add-hostel.js?v=20251115"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="AddHostelController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <header class="if-page-have-nav-tabs px-2">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">Hostel</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile"
                                               aria-selected="false">Building</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab"
                                               href="#contact" role="tab" aria-controls="contact"
                                               aria-selected="false">Floor</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="board-tab" data-toggle="tab" href="#board"
                                               role="tab" aria-controls="board" aria-selected="false">Room</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </header>

                        <div class="tab-content" id="myTabContent">
                            <!-- Hostel Tab Starts -->
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div id="hostel-list" class="card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Hostel">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Hostel">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.Hostel">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                  
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm"
                                               data-toggle="tooltip" data-placement="bottom" title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <a href="#" class="btn btn-success btn-sm" id="add-hostel">
                                                <i class="fas fa-plus w-t"></i> Add Hostel
                                            </a>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y table-scroll">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white" style="height: auto;">
                                            <thead>
                                                <tr>
                                                    <th style="width: 50px;">S.No.</th>
                                                    <th style="width: 200px;">Hostel Name</th>
                                                    <th style="width: 150px;">Hostel Code</th>
                                                    <th style="width: 150px;">Hostel Address</th>
                                                    <th style="width: 150px;">Warden Name</th>
                                                    <th style="width: 70px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in HostelList | filter:searchData.Hostel | itemsPerPage: perPage.Hostel" current-page="currentPages.Hostel" pagination-id="HostelPagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.Name}}</td>
                                                    <td>{{cl.Code}}</td>
                                                    <td>{{cl.Address}}</td>
                                                    <td>{{cl.WardenName}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetHostelById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelHostelById(cl)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="HostelPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <div id="add-hostel-form" class="card">
                                    <div class="card-body py-2 px-0">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Hostel Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newHostel.Name">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Hostel Code</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newHostel.Code">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Hostel Address</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newHostel.Address">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Warden Name</label>
                                                    <select class="form-control select2 form-control-sm" all-employee ng-model="newHostel.WardenId" employee-detail="newHostel.WardenDetails" side-bar-data="newHostel.WardenSideBarData" search-by="newHostel.EmployeeSearchBy">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Hostel For</label>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckbox-boys" ng-model="newHostel.IsBoy">
                                                            <label for="customCheckbox-boys"
                                                                   class="custom-control-label">Boys</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckbox-girls" ng-model="newHostel.IsGirls" >
                                                            <label for="customCheckbox-girls"
                                                                   class="custom-control-label">Girls</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckbox-guest"  ng-model="newHostel.IsGuest">
                                                            <label for="customCheckbox-guest"
                                                                   class="custom-control-label">Guest</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckbox-staff" ng-model="newHostel.IsStaff">
                                                            <label for="customCheckbox-staff"
                                                                   class="custom-control-label">Staffs</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <label><b>Facilities</b></label>
                                        <div class="table-scroll-x-y sales-main-table table-scroll">
                                            <table id="main-table"
                                                   class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 70px">S.No.</th>
                                                        <th style="width: 550px"> Facilities</th>
                                                        <th style="width: 80px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="Fac in newHostel.FacilitiesDetailsColl">
                                                        <td>{{$index+1}}</td>
                                                        <td> <input type="text" class="form-control form-control-sm" ng-model="Fac.Name" /></td>
                                                        <td>
                                                            <a class="p-1" ng-click="AddFacilitiesDetails($index)">
                                                                <i class="fas fa-plus text-secondary"></i>
                                                            </a>
                                                            <a class="p-1" ng-click="delFacilitiesDetails($index)">
                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="time-label">
                                        <span class="d-block border-0 p-3 text-center">
                                            <button type="button" class="btn btn-sm btn-info" id="back-hostel-btn" style="min-width: 90px;"> Back to List</button>
                                            <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearHostel()">Reset</button>
                                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateHostel()">{{newHostel.Mode}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Hostel Tab Ends -->
                            <!-- Building Tab Starts -->
                            <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div id="building-list" class="card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Building">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Building">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.Building">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file" data-toggle="tooltip" data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                  
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <a href="#" class="btn btn-success btn-sm" id="add-building"><i class="fas fa-plus w-t" ng-click="ClearBuilding()"></i> Add Building</a>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y table-scroll">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 50px;">S.No.</th>
                                                    <th style="width: 250px;">Building Name</th>
                                                    <th style="width: 200px;">Building Location</th>
                                                    <th style="width: 200px;">Building Type</th>
                                                    <th style="width: 50px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in BuildingList | filter:searchData.Building | itemsPerPage: perPage.Building" current-page="currentPages.Building" pagination-id="BuildingPagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.Name}}</td>
                                                    <td>{{cl.Location}}</td>
                                                    <td>{{ cl.BuildingTypeColl.join(', ') }}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetBuildingById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelBuildingById(cl)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="BuildingPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!--Building form starts -->
                                <div id="building-form" class="card">
                                    <div class="card-body py-2 px-0">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Building No. </label>
                                                            <input type="text" class="form-control form-control-sm" ng-model="newBuilding.BuildingNo">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Building Name </label>
                                                            <input type="text" class="form-control form-control-sm" ng-model="newBuilding.Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <input type="text" class="form-control form-control-sm" ng-model="newBuilding.Location">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Building Type </label>
                                                            <select class="form-select form-control form-control-sm select2" ng-model="newBuilding.BuildingTypeColl" multiple="multiple">
                                                                <option ng-repeat="A in BuildingTypeList" ng-value="A.BuildingTypeId">{{A.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>No. Of Floor </label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newBuilding.NoOfFloor">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Overall Condition </label>
                                                            <input type="text" class="form-control-sm form-control" data-ng-model="newBuilding.OverallCondition" list="overallCondition">
                                                            <datalist id="overallCondition">
                                                                <option data-ng-repeat="A in OverallConditionColl" value="{{A.text}}">
                                                            </datalist>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>No. Of Classrooms </label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newBuilding.NoOfClassRooms">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>No. Of Other Rooms</label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newBuilding.NoOfOtherRooms">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4" @*ng-show="newCompanyDet.Country == 'Nepal'"*@>
                                                        <div class="form-group">
                                                            <label for="">Construction Date(BS)</label>
                                                            <input type="text" class="form-control form-control-sm" date-picker ng-model="newBuilding.ConstructionDate_TMP" date-detail="newBuilding.ConstructedDateDet" confirm-action="ChangeDate('ConstructionDate',2)" ng-blur="ChangeDate('ConstructionDate',2)" @*title="{{beData.ConstructionDateBSDet.dateAD |dateFormat}}"*@ date-style="2">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" ng-show="newCompanyDet.Country != 'Nepal'">
                                                        <div class="form-group">
                                                            <label>Construction Date</label>
                                                            <input type="text" class="form-control form-control-sm" date-picker ng-model="newBuilding.ConstructionDateAD_TMP" date-detail="newBuilding.ConstructionDateADDet" confirm-action="ChangeDate('ConstructionDate',1)" ng-blur="ChangeDate('ConstructionDate',2)" @*title="{{beData.ConstructionDateADDet.dateBS}}"*@ date-style="1">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Structure Type </label>
                                                            <input type="text" class="form-control-sm form-control" data-ng-model="newBuilding.StructureType" list="structureType">
                                                            <datalist id="structureType">
                                                                <option data-ng-repeat="A in StructureTypeColl" value="{{A.text}}">
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" ng-show="newBuilding.StructureType == 'Others'">
                                                        <label>Structure Type (Other than list)</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newBuilding.OtherStructureType">
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Roof Type </label>
                                                            <input type="text" class="form-control-sm form-control" data-ng-model="newBuilding.RoofType" list="roofType">
                                                            <datalist id="roofType">
                                                                <option data-ng-repeat="A in RoofTypeColl" value="{{A.text}}">
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" ng-show="newBuilding.RoofType=='Others'">
                                                        <label>Roof Type (Other than List)</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newBuilding.OtherRoofType">

                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Damage Grade </label>
                                                            <input type="text" class="form-control-sm form-control" data-ng-model="newBuilding.DamageGrade" list="damageGrade">
                                                            <datalist id="damageGrade">
                                                                <option data-ng-repeat="A in DamageGradeColl" value="{{A.text}}">
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Infrastructure/Resource Type </label>
                                                            <input type="text" class="form-control-sm form-control" data-ng-model="newBuilding.InfrastructureType" list="infrastructureType">
                                                            <datalist id="infrastructureType">
                                                                <option data-ng-repeat="A in InfrastructureTypeColl" value="{{A.text}}">
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Funding Sources </label>
                                                            <input type="text" class="form-control-sm form-control" data-ng-model="newBuilding.FundingSources" list="fundingSource">
                                                            <datalist id="fundingSource">
                                                                <option data-ng-repeat="A in FundingSourceColl" value="{{A.text}}">
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Intervention Type </label>
                                                            <input type="text" class="form-control-sm form-control" data-ng-model="newBuilding.InterventionType" list="interventionType">
                                                            <datalist id="interventionType">
                                                                <option data-ng-repeat="A in InterventionTypeColl" value="{{A.text}}">
                                                            </datalist>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <label>Approved/Design</label>
                                                        <div class="form-group clearfix">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" id="rb-interest-calc-yes" name="r5" ng-value="1" ng-model="newBuilding.IsApprovedDesign">
                                                                <label class="form-check-label" for="rb-interest-calc-yes">Yes</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" id="rb-interest-cal-no" name="r5" ng-value="0" ng-model="newBuilding.IsApprovedDesign">
                                                                <label class="form-check-label" for="rb-interest-cal-no">No</label>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Completion Certificate</label>
                                                        <div class="form-group clearfix">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" id="CompletionYes-yes" name="r6" ng-value="1" ng-model="newBuilding.IsCompletionCertificate">
                                                                <label class="form-check-label" for="CompletionYes-yes">Yes</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" id="CompletionYes-no" name="r6" ng-value="0" ng-model="newBuilding.IsCompletionCertificate">
                                                                <label class="form-check-label" for="CompletionYes-no">No</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4" ng-show="newBuilding.IsCompletionCertificate==0">
                                                        <div class="form-group">
                                                            <label>Completion Status</label>
                                                            <input type="text" class="form-control form-control-sm" ng-model="newBuilding.CompletionStatus">

                                                        </div>
                                                    </div>

                                                    <div class="col-md-4" ng-show="newBuilding.IsCompletionCertificate==1">
                                                        <div class="form-group">
                                                            <label for="formGroupExampleInput2" class="form-label">Completion Date</label>
                                                            <input type="text" class="form-control form-control-sm" ng-model="newBuilding.CompletionDate_TMP" date-picker date-detail="newBuilding.CompletionDateDet">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="formGroupExampleInput2" class="form-label">Remarks</label>
                                                            <input type="text" class="form-control form-control-sm" ng-model="newBuilding.Remarks">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="formGroupExampleInput2" class="form-label">Investment Amount/Budget</label>
                                                            <input type="text" number-input class="form-control form-control-sm" ng-model="newBuilding.Budget">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="formGroupExampleInput2" class="form-label">No. Of Boys Toilet</label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newBuilding.BoysToiletNo">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="formGroupExampleInput2" class="form-label">No. Of Girls Toilet</label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newBuilding.GirlsToiletNo">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>All Toilet Functional?</label>

                                                        <div class="form-group clearfix">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" id="ToiletFunctional-yes" name="r7" ng-value="1" ng-model="newBuilding.IsToiletFunctional">
                                                                <label class="form-check-label" for="ToiletFunctional-yes">Yes</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" id="ToiletFunctional-no" name="r7" ng-value="0" ng-model="newBuilding.IsToiletFunctional">
                                                                <label class="form-check-label" for="ToiletFunctional-no">No</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4" ng-show="newBuilding.IsToiletFunctional===0">
                                                        <div class="form-group">
                                                            <label>What type of facility is not working? <span style="color: red;">*</span></label>
                                                            <input type="text" class="form-control form-control-sm" ng-model="newBuilding.FacilityNotFunctioning">
                                                        </div>
                                                    </div>
                                                </div>


                                                <label><b>Other Facilities</b></label>
                                                <div class="table-scroll-x-y sales-main-table table-scroll">
                                                    <table id="main-table"
                                                           class="main-table table table-sm table-bordered bg-white">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 70px" class="text-center">S.No.</th>
                                                                <th style="width: 550px"> Facilities</th>
                                                                <th style="width: 80px" class="text-center">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="Fac in newBuilding.BuildingFacilitiesColl">
                                                                <td>{{$index+1}}</td>
                                                                <td> <input type="text" class="form-control form-control-sm" ng-model="Fac.Name" /></td>
                                                                <td>
                                                                    <a class="p-1" ng-click="AddFacilitiesDetails($index)">
                                                                        <i class="fas fa-plus text-secondary"></i>
                                                                    </a>
                                                                    <a class="p-1" ng-click="delFacilitiesDetails($index)">
                                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>



                                            </div>
                                            <div class="col-md-3">
                                                <div class="person-photo-attachment-wrap text-center">
                                                    <div class="img-wrap mx-auto" style="width: 100%;">
                                                        <img ng-src="{{newBuilding.PhotoData || newBuilding.ImagePath}}" class="img-fluid" alt="" id="imgPhoto1">
                                                    </div>
                                                    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#updatePhoto">
                                                        <i class="fas fa-camera w-t"></i> Building Image
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="row">
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Building Name</label>
                                                            <input type="text" name="" id="" class="form-control form-control-sm" ng-model="newBuilding.Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Building Location</label>
                                                            <input type="text" name="" id="" class="form-control form-control-sm" ng-model="newBuilding.Location">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="person-photo-attachment-wrap text-center">
                                                    <div class="img-wrap mx-auto" style="width: 100%;">
                                                        <img ng-src="{{newBuilding.PhotoData || newBuilding.ImagePath}}" class="img-fluid" alt="" id="imgPhoto1">
                                                    </div>
                                                    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#updatePhoto">
                                                        <i class="fas fa-camera w-t"></i> Building Image
                                                    </button>
                                                </div>
                                            </div>
                                        </div>*@
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-btn-building" style="min-width: 90px;">Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearBuilding()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateBuilding()">{{newBuilding.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!--Building Form Ends -->
                            </div>
                            <!-- Building Tab Starts -->
                            <!-- Floor Tab Starts -->
                            <div class="tab-pane fade main-section" id="contact" role="tabpanel"
                                 aria-labelledby="contact-tab">
                                <div id="floor-list" class="card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Floor">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Floor">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.Floor">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                   
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-secondary btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Print">
                                                <i class="fas fa-print"></i>
                                            </a>
                                            <a href="#" class="btn btn-success btn-sm" id="add-floor"><i class="fas fa-plus w-t"></i> Add Floor</a>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y table-scroll">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 50px;">S.No.</th>
                                                    <th style="width: 450px;">Floor Name</th>
                                                    <th style="width: 50px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in FloorList | filter:searchData.Floor | itemsPerPage: perPage.Floor" current-page="currentPages.Floor" pagination-id="FloorPagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.Name}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetFloorById(cl)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelFloorById(cl)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="FloorPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!-- Floor Form Starts -->
                                <div id="floor-form" class="card">
                                    <div class="card-body py-2 px-0">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Floor Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newFloor.Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-btn-floor" style="min-width: 90px;">
                                                    Back to
                                                    List
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearFloor()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateFloor()">{{newFloor.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!--Floor Form Ends -->
                            </div>
                            <!-- Floor Tab Starts -->
                            <!-- Room Tab Starts -->
                            <div class="tab-pane fade main-section" id="board" role="tabpanel" aria-labelledby="board-tab">
                                <div id="room-list" class="card py-2">
                                    <header class="row">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Room">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Room">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" ng-model="searchData.Room">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit"><i class="fas fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-5 text-right">
                                            <button class="btn btn-secondary btn-light btn-sm" title="Apply Room Fees" ng-click="CurHostelRoomFee()"><i class="fas fa-save"></i></button>
                                            <div class="dropdown dnld-file" data-toggle="tooltip" data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-download"></i></button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="~/wwwroot/dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                </div>
                                            </div>
                                            <button print-tbl table-id="'#main-table'" class="btn btn-secondary btn-light btn-sm wait" data-toggle="tooltip" data-placement="bottom" title="Print"><i class="fas fa-print"></i></button>
                                            <a href="#" class="btn btn-success btn-sm" id="add-room"> <i class="fas fa-plus w-t"></i> Add Room </a>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y table-scroll">
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th style="width: 50px;">S.No.</th>
                                                    <th style="width: 200px;">Room Name</th>
                                                    <th style="width: 130px;">Room Fees</th>
                                                    <th style="width: 150px;">Hostel</th>
                                                    <th style="width: 110px;">Building</th>
                                                    <th style="width: 110px;">Floor</th>
                                                    <th class="no-print" style="width: 120px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="cl in RoomList | filter:searchData.Room | itemsPerPage: perPage.Room" current-page="currentPages.Room" pagination-id="roomPagination">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cl.HostelName}}-{{cl.BuildingName}}-{{cl.RoomName}}</td>
                                                    <td class="text-right">
                                                        <span ng-hide="cl.IsEdit">{{cl.RoomFee | number:2}}</span>
                                                        <input type="text" number-input onfocus="this.select()" class="form-control form-control-sm text-right" ng-show="cl.IsEdit" ng-model="cl.RoomFee" />
                                                    </td>
                                                    <td>{{cl.HostelName}}</td>
                                                    <td>{{cl.BuildingName}}</td>
                                                    <td>{{cl.FloorName}}</td>
                                                    <td class="no-print">
                                                        <a class="p-1" ng-hide="cl.IsEdit" title="Edit Row Wise" ng-click="EditRoom(cl)"><i class="fas fa-pencil-alt text-info"></i></a>
                                                        <a class="p-1" ng-hide="cl.IsEdit" title="Edit" ng-click="GetRoomById(cl)"><i class="fas fa-edit text-info"></i></a>
                                                        <a class="p-1" ng-show="cl.IsEdit" title="Update" ng-click="UpdateRoom(cl)"> <i class="fas fa-save text-success"></i></a>
                                                        <a class="p-1" ng-show="cl.IsEdit" title="Cancel" ng-click="CancelEditRoom(cl)"><i class="fas fa-times text-warning"></i> </a>
                                                        <a class="p-1" ng-hide="cl.IsEdit" title="Delete" ng-click="DelRoomById(cl)"><i class="fas fa-trash-alt text-danger"></i></a>

                                                        @*<a class="p-1" ng-click="GetRoomById(cl)"><i class="fas fa-edit text-info"></i></a>
                                                         <a class="p-1" ng-click="DelRoomById(cl)"><i class="fas fa-trash-alt text-danger"></i></a>*@
                                                    </td>
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="roomPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                                <!-- Room form starts -->
                                <div id="room-form" class="card">
                                    <div class="card-body py-2 px-0">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Hostel Name</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newRoom.HostelId">
                                                                <option ng-selected="newRoom.HostelId==h.HostelId" ng-value="h.HostelId" ng-repeat="h in HostelList">{{h.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Building</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newRoom.BuildingId">
                                                                <option ng-selected="newRoom.BuildingId==h.BuildingId" ng-value="h.BuildingId" ng-repeat="h in BuildingList">{{h.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Floor</label>
                                                            <select class="form-control form-control-sm select2" ng-model="newRoom.FloorId">
                                                                <option ng-selected="newRoom.FloorId==h.FloorId" ng-value="h.FloorId" ng-repeat="h in FloorList">{{h.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Room Name</label>
                                                            <input type="text" class="form-control form-control-sm" ng-model="newRoom.RoomName">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label>Room Fees</label>
                                                            <input type="text" number-input onfocus="this.select()" class="form-control form-control-sm text-right" ng-model="newRoom.RoomFee">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label>No of Beds</label>
                                                            <input type="number" class="form-control form-control-sm" ng-model="newRoom.NoOfBeds" ng-change="ChangeBedNo()">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 mt-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="chkUpdateInMapping" ng-model="newRoom.UpdateInMapping">
                                                            <label for="chkUpdateInMapping"
                                                                   class="custom-control-label">
                                                                Update In Mapping Student
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" ng-repeat="bd in newRoom.RoomBedColl">
                                                        <div class="form-group">
                                                            <label>Bed {{$index+1}}</label>
                                                            <input type="text" class="form-control form-control-sm" ng-model="bd.BedName">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="" class="invisible">Photo</label>
                                                <div class="person-photo-attachment-wrap text-center">
                                                    <div class="img-wrap mx-auto" style="width:100%;">
                                                        <img ng-src="{{newRoom.PhotoDataRoom || newRoom.ImagePath}}" class="img-fluid" alt="" id="imgRoom1">
                                                    </div>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#updateRoom">
                                                        <i class="fas fa-camera w-t"></i> Upload Image
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <label><b>Asset Details</b></label>
                                        <div class="table-scroll-x-y sales-main-table table-scroll">
                                            <table id="main-table"
                                                   class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 70px">S.No.</th>
                                                        <th style="width: 350px"> Particulars</th>
                                                        <th style="width: 100px">Quantities</th>
                                                        <th style="width: 80px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="aDet in newRoom.RoomAssetColl">
                                                        <td>{{$index+1}}</td>
                                                        <td>
                                                            <input type="text" class="form-control form-control-sm" ng-model="aDet.Particulars" />
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control form-control-sm" ng-model="aDet.Qty" />
                                                        </td>
                                                        <td>
                                                            <a class="p-1" ng-click="AddAssetsDetails($index)">
                                                                <i class="fas fa-plus text-secondary"></i>
                                                            </a>
                                                            <a class="p-1" ng-click="delAssetsDetails($index)">
                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="time-label">
                                            <span class="d-block border-0 p-3 text-center">
                                                <button type="button" class="btn btn-sm btn-info" id="back-btn-room" style="min-width: 90px;"> Back to List</button>
                                                <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="ClearRoom()">Reset</button>
                                                <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveUpdateRoom()">{{newRoom.Mode}}</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Room Form Ends -->
                            </div>
                            <!-- Room Tab Ends -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
    <!--Building Photo Model -->
    <div class="modal fade" id="updatePhoto" tabindex="-1" aria-labelledby="updatePhotoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePhotoLabel">Upload Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                     data-max-file-size="3" ng-model="newBuilding.Photo_TMP" @*after-selected="AddBuildingPhoto()"*@ fileread="newBuilding.PhotoData">
                    <div class="photo-upload-wrap">
                        <span class="static-content">
                            <img ng-src="{{newBuilding.PhotoData  || newBuilding.ImagePath}}" class="img-fluid" id="imgPhoto">
                            <span>Drag & Drop your<br>image here</span>
                        </span>
                    </div>
                    <div class="text-muted pb-3">or</div>
                    <label for="choose-file" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                    <input id="choose-file" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newBuilding.Photo_TMP" @*after-selected="AddBuildingPhoto()"*@ fileread="newBuilding.PhotoData" />
                    <a ng-click="ClearBuildingPhoto()" href="#" class="text-danger d-block mt-3">remove current image</a>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                    @*<button type="button" class="btn btn-secondary px-4" ng-click="AddAuthorImage()">Save</button>*@
                </div>
            </div>
        </div>
    </div>

    <!-- Room Photo Model -->
    <div class="modal fade" id="updateRoom" tabindex="-1" aria-labelledby="updateRoomLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateRoomLabel">Upload Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                     data-max-file-size="3" ng-model="newRoom.PhotoRoom_TMP" @*after-selected="AddAboutUsPhoto()"*@ fileread="newRoom.PhotoDataRoom">
                    <div class="photo-upload-wrap">
                        <span class="static-content">
                            <img ng-src="{{newRoom.PhotoDataRoom || newRoom.ImagePath}}" class="img-fluid" id="imgRoom">
                            <span>Drag & Drop your<br>image here</span>
                        </span>
                    </div>
                    <div class="text-muted pb-3">or</div>
                    <label for="choose-fileRoom" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                    <input id="choose-fileRoom" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newRoom.PhotoRoom_TMP" @*after-selected="AddStudentPhoto()"*@ fileread="newRoom.PhotoDataRoom" />
                    <a ng-click="ClearRoomPhotoRoom()" href="#" class="text-danger d-block mt-3">remove current image</a>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                    @*<button type="button" class="btn btn-secondary px-4" ng-click="AddAboutUsImage()">Save</button>*@
                </div>
            </div>
        </div>
    </div>

</div>

